@use '@/shared/styles/variables' as *;

.subjectKmzhPage {
    padding-top: $spacing-md;
}

.searchInput {
    position: relative;
    z-index: 2;
}

.searchIcon {
    filter: brightness(0);
    transition: filter 0.3s ease;
}

input:focus + .searchIcon {
    filter: invert(37%) sepia(26%) saturate(1244%) hue-rotate(88deg)
        brightness(94%) contrast(89%);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-3xl + $spacing-3xl;
    margin-bottom: $spacing-3xl;

    align-items: stretch;
}
