@use '@/shared/styles/variables' as *;

.page {
    padding-top: $spacing-md;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $spacing-3xl;
    margin-bottom: $spacing-3xl;
}
