@use '@/shared/styles/variables' as *;

.container {
    width: 100%;
    height: 700px;
    background: transparent;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    z-index: 10;
}
.overlay {
    pointer-events: none;
}
.container canvas {
    display: block;
}
.container {
    position: relative;
    z-index: 50;
}

.container canvas {
    position: relative;
    z-index: 50;
}
