@use '@/shared/styles/variables' as *;

.courseCatalogPage {
    padding: $spacing-xl 0;
}

.title {
    margin-bottom: $spacing-md;
}

.inputWrapper {
    width: 100%;
}

.searchInput {
    margin-bottom: 0;
}

.searchIcon {
    filter: brightness(0);
    transition: filter $transition-fast;
}

.inputWrapper:focus-within .searchIcon {
    filter: invert(64%) sepia(55%) saturate(464%) hue-rotate(75deg)
        brightness(95%) contrast(89%);
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}
