@use '@/shared/styles/variables' as *;

.button {
    border-radius: $radius-md;
    font-size: $font-size-base;
    font-weight: $font-weight-normal;
    padding: $spacing-md $spacing-xl;
    cursor: pointer;
    border: none;
    transition: background $transition-normal, transform $transition-normal;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    white-space: nowrap;

    &:active:not(:disabled) {
        transform: scale(0.98);
    }
}

// ============= Variants
.primary {
    background: $color-green-lightest;
    color: white;

    &:hover:not(:disabled) {
        background: $color-green-active;
    }
}

.dark {
    background: $color-green-dark;
    color: white;

    &:hover:not(:disabled) {
        background: $color-green-active;
    }
}

.outline {
    background: transparent;
    color: $color-green-primary;
    border: 2px solid $color-green-primary;

    &:hover:not(:disabled) {
        background: $color-green-active;
        color: white;
        border-color: $color-green-active;
    }
}

// ============= Sizes
.sm {
    // padding: $spacing-xs $spacing-md;
    font-size: $font-size-sm;
    line-height: 16px;
}

.md {
    // padding: 10px $spacing-lg;
    line-height: 20px;
}

.lg {
    // padding: $spacing-md $spacing-xl;
    font-size: $font-size-lg;
    line-height: 24px;
}

// ============= States
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

.fullWidth {
    width: 100%;
}
