@use '@/shared/styles/variables' as *;

.form {
    border: 2px solid $color-gray-border;
    border-radius: $radius-lg;
    display: flex;
    flex-direction: column;
    padding: $spacing-2xl;
    width: 600px;
}

.title {
    font-size: $font-size-xl;
    font-weight: $font-weight-semibold;
    margin-bottom: $spacing-sm;
}

.subtitle {
    font-size: $font-size-sm;
    color: $color-gray-medium;
    margin-bottom: $spacing-2xl;
}

.forgotPasswordLink {
    font-size: $font-size-sm;
    color: $color-gray-medium;
    text-decoration: none;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: $color-gray-medium;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform $transition-normal;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.rememberRow {
    display: flex;
    align-items: center;
    gap: $spacing-sm;
    margin-top: $spacing-xs;
}

.checkbox {
    accent-color: $color-green-primary;
    cursor: pointer;
}

.rememberText {
    font-size: $font-size-sm;
    font-weight: $font-weight-medium;
}

.submitBtn {
    margin-bottom: $spacing-sm;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-lg;
    gap: $spacing-sm;
    font-size: $font-size-base;

    p {
        color: $color-gray-medium;
        margin: 0;
    }
}

.registerLink {
    position: relative;
    color: $color-green-active;
    text-decoration: none;
    font-weight: $font-weight-medium;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 1px;
        background: $color-green-active;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform $transition-normal;
    }

    &:hover::after {
        transform: scaleX(1);
    }
}

.rememberAndForgot {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spacing-sm;
}
